<section class="section">
  <div class="container is-small-maxwidth">
    <h1 class="title has-text-centered">Log in</h1>
    <%= render partial: "form", locals: { session_form: @session_form } %>
  </div>
</section>
