<section class="section">
  <div class="container is-small-maxwidth">
    <h1 class="title has-text-centered">Sign up</h1>
    <%= render partial: "form", locals: { user: @user } %>
  </div>
</section>
